* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.img-div {
    width: 10vw;
    min-height: 70vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 10px;
    position: relative;
    margin: 0.3rem;
    transition: all 0.6s ease;
}

.img-div.active {
    width: 80vw;
    -webkit-box-shadow: 3px 10px 246px 26px rgba(0,0,0,0.75);
-moz-box-shadow: 3px 10px 246px 26px rgba(0,0,0,0.75);
box-shadow: 3px 10px 246px 26px rgba(0,0,0,0.75);
}

.img-1 {
    background-image: url('https://images.unsplash.com/photo-1602526429399-f5955066ffe2?ixid=MXwxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1895&q=80');
}

.img-2 {
    background-image: url('https://images.unsplash.com/photo-1469334031218-e382a71b716b?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80');
}
.img-3 {
    background-image: url('https://images.unsplash.com/photo-1501196354995-cbb51c65aaea?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1951&q=80');
}

.img-4 {
    background-image: url('https://images.unsplash.com/photo-1509098681029-b45e9c845022?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1950&q=80');
}

.img-5 {
    background-image: url('https://images.unsplash.com/photo-1504593811423-6dd665756598?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1950&q=80');
}

.img-6 {
    background-image: url('https://images.unsplash.com/photo-1473492201326-7c01dd2e596b?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1951&q=80');
}

.img-7 {
    background-image: url('https://images.unsplash.com/photo-1512663150964-d8f43c899f76?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=2056&q=80');
}
.img-div h4 {
    position: absolute;
    bottom: 20px;
    left: 20px;
    color: white;
    font-size: 1.3rem;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.show {
    opacity: 1 !important;
}